.weather-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info-container {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.weather-img {
  width: 150px;
  height: 170px;
  background-color: rgb(2, 160, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info {
  width: 250px;
  height: 170px;
  background-color: rgb(0, 178, 237);
}

.weather-degree {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  h1 {
    font-size: 90px;
    margin-left: 20px;
  }
  p {
    font-size: 70px;
    margin-top: -10px;
  }
}

.weather-more-info {
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  div {
    width: 50%;
    height: 50%;
    .pw {
      margin-left: 10px;
    }
    .top-p {
      margin-top: 10px;
    }
  }
}

.weather-city {
  flex: 1 1 auto;
  height: 80px;
  background-color: aliceblue;
  color: rgb(177, 177, 177);
  h1 {
    font-size: 38px;
    margin: 10px 12px;
  }
}


.weather-cities {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: 20px;
  div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .weather-search {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      margin-right: 10px;
      width: 200px;
    }
  }
}