.weather-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info-container {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
}

.weather-img {
  width: 150px;
  height: 170px;
  background-color: rgb(2, 160, 212);
}

.weather-info {
  width: 250px;
  height: 170px;
  background-color: rgb(0, 178, 237);
}

.weather-degree {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  h1 {
    width: auto;
    font-size: 90px;
    margin-left: 10px;
  }
  .cl {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    top: 20px;
    left: 115px;
  }
  .cl2 {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(0, 178, 237);
    top: 23.5px;
    left: 118.5px;
  }
}

.weather-more-info {
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  div {
    width: 50%;
    height: 50%;
    .pw {
      margin-left: 10px;
    }
    .top-p {
      margin-top: 10px;
    }
  }
}

.weather-city {
  flex: 1 1 auto;
  height: 80px;
  background-color: aliceblue;
  color: rgb(177, 177, 177);
  h1 {
    font-size: 38px;
    margin: 10px 12px;
  }
}
