.weather-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.weather-info-container {
  width: 400px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 20px;
}

.weather-date {
  width: 100%;
  height: 30px;
  background-color: rgb(0, 150, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
}

.weather-img {
  width: 150px;
  height: 190px;
  background-color: rgb(2, 160, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info {
  width: 250px;
  height: 190px;
  background-color: rgb(0, 178, 237);
}

.weather-degree {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  h1 {
    font-size: 90px;
    margin-left: 20px;
  }
  p {
    font-size: 70px;
    margin-top: -10px;
  }
}

.weather-more-info {
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  div {
    width: 50%;
    height: 50%;
    .pw {
      margin-left: 10px;
    }
    .top-p {
      margin-top: 10px;
    }
  }
}

.weather-city {
  flex: 1 1 auto;
  height: 80px;
  background-color: aliceblue;
  color: rgb(177, 177, 177);
  h1 {
    font-size: 38px;
    margin: 10px 12px;
  }
}

.weather-cities {
  width: 320px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: 20px;
  div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weather-search {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      margin-right: 10px;
      width: 200px;
    }
  }
}

.weather-logout {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader-container {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 676px) {
  .weather-page-container {
    margin-top: 0;
    padding: 20px;
  }
  .weather-info-container {
    padding: 0;
    width: 300px;
    height: 220px;
    .weather-img {
      width: 120px;
      height: 140px;
    }
    .weather-info {
      width: 180px;
      height: 140px;
      .weather-degree {
        height: 80px;
        h1 {
          font-size: 60px;
          margin-left: 30px;
        }
        p {
          font-size: 50px;
        }
      }
      .weather-more-info {
        height: 60px;
        div {
          .pw {
            font-size: 12px;
          }
          .top-p {
            font-size: 12px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    .weather-city {
      height: 50px;
      h1 {
        font-size: 28px;
        margin: 5px 8px;
      }
    }
  }
  .weather-cities {
    margin: 20px;
    button {
      font-size: 12px;
    }
    .weather-search {
      input {
        width: 140px;
        font-size: 12px;
      }
    }
  }
  .weather-lang {
    select {
      font-size: 12px;
    }
  }
  .weather-logout {
    button {
      font-size: 12px;
      padding: 8px 14px;
    }
  }
  .weather-error {
    font-size: 18px;
  }
}
