.shared-input-todo {
    padding-left: 10px;
}

.add-button {
    padding: 8px 16px;
    margin: 8px;
}

.todo-container {
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #69336a;
    border-radius: 10px;
    width: 600px;
    transition: all 0.3s ease-in-out;
}

.shared-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

ul {
  max-height: 400px;
  overflow-y: auto;
}

li {
    list-style-type: none;
    margin: 8px 0;
    font-size: large;
    margin: 10px 20px;
    padding: 10px 0;
    border-bottom: 1px solid #69336a;
    display: flex;
    justify-content: space-between;
    .save {
      margin-left: 10px;
    }
}

.item-button-d {
    padding:5px 8px;
    font-size: small;
    background-color: red;
}

.item-button-e {
    padding:5px 8px;
    font-size: small;
    background-color: green;
    margin-right: 10px;
}

.item-button-done {
    padding:5px 8px;
    font-size: small;
    background-color: blue;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
}

.shared-div2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.li-animation {
  animation: fadeIn 0.5s ease-in-out;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.not-found {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.toast-container {
  position: absolute;
  border-radius: 5px;
  left: 100px;
  bottom: 100px;
  color: aliceblue;
}

.toast {
  background-color: rgb(8, 160, 39);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.logout-todo {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

@media (max-width: 676px) {
  .todo-container {
    width: 100% !important;
    margin: 0 !important; 
    margin-top: 60px !important;
    .shared-div h1 {
      font-size: 34px !important;
    }
    .shared-div .shared-input-todo {
      width: 180px !important;
      font-size: 14px !important;
      height: 33px !important;
    }
    .add-button {
      padding: 8px 14px !important;
      font-size: 14px !important;
    }
    .search-div .shared-input-todo {
      width: 150px !important;
      font-size: 14px !important;
      height: 33px !important;
    }
    .shared-div2 button {
      padding: 10px 20px !important;
      font-size: 14px !important;
    }
    ul li {
      font-size: 14px !important;
      span {
        max-width: 150px !important;
        overflow: hidden !important;
        text-overflow:ellipsis !important;
      }
      .edit-todo-container {
        input[type="text"] {
          width: 150px !important;
          font-size: 14px !important;
          height: 30px !important;
        }
      }
    }
   .item-button-e, .item-button-done {
      padding: 5px 8px !important;
      font-size: 12px !important;
      margin-right: 8px !important;

    }
    .item-button-d {
      padding: 5px 8px !important;
      font-size: 12px !important;
      margin-right: 0px !important;
    }
    .logout-todo {
      margin-top: 20px !important;
      a {
        font-size: 14px !important;
        padding: 6px 12px !important;
      }

    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.li-deleted {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}